###############################################################################
#
# OCACCEL Configuration Assistant
#   Please select card and appropriate options
#
###############################################################################
mainmenu "OC-Accel Configuration Menu"
###############################################################################
# Basic information 

config CAPI_VER
    string
    default "opencapi30" if OPENCAPI30
    default "capi20" if CAPI20

config ENABLE_HLS_SUPPORT
    bool
    default n

config HLS_SUPPORT
    string
    default "TRUE" if ENABLE_HLS_SUPPORT
    default "FALSE" if !ENABLE_HLS_SUPPORT

###############################################################################
# Definition of the templates:
# For more information, please refere to the documentation page: (TBD)

#---------------------------------------------------------------
#---------------------------------------------------------------
config EXAMPLE_INFRA_T1
    bool
    default n

config EXAMPLE_INFRA_T2
    bool
    default n

config EXAMPLE_INFRA_T4
    bool
    default n

config EXAMPLE_INFRA_T8
    bool
    default n

# Summary
config INFRA_TEMPLATE_SELECTION
    string
    default "T1" if EXAMPLE_INFRA_T1 || USER_INFRA_T1
    default "T2" if EXAMPLE_INFRA_T2 || USER_INFRA_T2
    default "T4" if EXAMPLE_INFRA_T4 || USER_INFRA_T4
    default "T8" if EXAMPLE_INFRA_T8 || USER_INFRA_T8
#---------------------------------------------------------------
#---------------------------------------------------------------
config EXAMPLE_ACTION_A10
    bool
    default n

config EXAMPLE_ACTION_A11
    bool
    default n

config EXAMPLE_ACTION_A12
    bool
    default n

config EXAMPLE_ACTION_A20
    bool
    default n

config EXAMPLE_ACTION_A40
    bool
    default n

config EXAMPLE_ACTION_A80
    bool
    default n
# Summary
config ACTION_TEMPLATE_SELECTION
    string
    default "A10" if EXAMPLE_ACTION_A10 || USER_ACTION_A10
    default "A11" if EXAMPLE_ACTION_A11 || USER_ACTION_A11
    default "A12" if EXAMPLE_ACTION_A12 || USER_ACTION_A12
    default "A20" if EXAMPLE_ACTION_A20 || USER_ACTION_A20
    default "A40" if EXAMPLE_ACTION_A40 || USER_ACTION_A40
    default "A80" if EXAMPLE_ACTION_A80 || USER_ACTION_A80



###############################################################################
# Defintion for FPGA related
config FPGACARD
    string
    default "AD9V3"  if FPGACARD_AD9V3
    default "AD9H3"  if FPGACARD_AD9H3
    default "AD9H7"  if FPGACARD_AD9H7

config FPGACHIP
    string
    default "xcvu3p-ffvc1517-2-e"  if FPGACARD_AD9V3
    default "xcvu33p-fsvh2104-2-e" if FPGACARD_AD9H3
    default "xcvu37p-fsvh2892-2-e" if FPGACARD_AD9H7


config FLASH_INTERFACE
    string
    default "SPIx8"  if  FPGACARD_AD9V3 || FPGACARD_AD9H3 || FPGACARD_AD9H7

#FLASH_SIZE: in MB
config FLASH_SIZE
    string
    default 128 if FPGACARD_AD9H7
    default 64 if FPGACARD_AD9V3 || FPGACARD_AD9H3

#FLASH_FACTORYADDR: For all cards, factory address is 0x0
config FLASH_FACTORYADDR
        string
        default 0x00000000

#FLASH_USERADDR: For SPI, it is byte address.
config FLASH_USERADDR
    string
    default 0x08000000 if FPGACARD_AD9V3 || FPGACARD_AD9H3 || FPGACARD_AD9H7

###############################################################################
###############################################################################
###############################################################################
###############################################################################
#   Menu starts
#   Select the ACTION_ROOT
choice
    bool "Action Name"
    help
      Action Name:
      Select an existing action example or define a new action.
    default HLS_VADD

    config USER_HLS_ACTION
        bool "New HLS Action"
        select ENABLE_HLS_SUPPORT
        help
          This option is a placeholder for an action written by the user in HLS.

    config USER_HDL_ACTION
        bool "New HDL Action"
        help
          This option is a placeholder for an action written by the user in a
          hardware description language such as VHDL or Verilog.

    
    config HDL_PERF_TEST
        bool "HDL Perf (Bandwidth/Latency) Test"
        help
          This is an example written in Verilog (1024b data width, peformance measuring)
          Refer to the README in this action directory for more information
        select EXAMPLE_INFRA_T1
        select EXAMPLE_ACTION_A10


    config HLS_VADD_MATMUL
        bool "HLS Vector-Add and Matrix Multiplication (4 kernels)"
        help
          This is an example written in HLS, from Xilinx Vitis Examples
          Refer to the README in this action directory for more information
        select EXAMPLE_INFRA_T1
        select EXAMPLE_ACTION_A10
        select ENABLE_HLS_SUPPORT

    config HLS_VADD
        bool "HLS Vector-Add example (1 kernel)"
        help
          This is an example written in HLS, from Xilinx Vitis Examples
          Refer to the README in this action directory for more information
        select EXAMPLE_INFRA_T1
        select EXAMPLE_ACTION_A10
        select ENABLE_HLS_SUPPORT


#    config HLS_MEMCOPY_1024
#        bool "HLS Memcopy 1024b"
#        help
#          This is an example written in High Level Synthesis Language (1024b data width)
#          It copies data between Host and FPGA DDR/HBM (4 combinations)
#          Refer to the README in this action directory for more information
#        select ENABLE_HLS_SUPPORT
#        select EXAMPLE_INFRA_T1
#        select EXAMPLE_ACTION_A12 if FPGACARD_AD9V3
#        select EXAMPLE_ACTION_A13 if (FPGACARD_AD9H3 || FPGACARD_AD9H7)
#        # Note: Select the action template according to the card
endchoice


# For user defined new actions, ask for the name
config ACTION_NAME
    depends on USER_HLS_ACTION
    string "Input the new action name"
    default "hls_my_test"

config ACTION_NAME
    depends on USER_HDL_ACTION
    string "Input the new action name"
    default "hdl_my_test"

# !!! This doesn't show in the menuwindow
# Override the name for exsiting actions
config ACTION_NAME
    string
    default "hdl_perf_test"   if HDL_PERF_TEST
    default "hls_vadd_matmul" if HLS_VADD_MATMUL
    default "hls_vadd"        if HLS_VADD


###############################################################################
choice
    bool "CAPI Version"
    default OPENCAPI30
    help
      Select CAPI Version

    config OPENCAPI30
        bool "OpenCAPI3.0"

    config CAPI20
        bool "CAPI2.0 -- not supported yet"
endchoice

###############################################################################
choice
    bool "Target Platform"
    default FPGACARD_AD9V3
    help
      Select the hardware platform that OC-Accel supports.
    config FPGACARD_AD9V3
        bool "Alphadata 9V3 (VU3P)"
        help
          Refer to Product webpage for more information about the card capacity.
    
    config FPGACARD_AD9H3 
        bool "AlphaData 9H3 (VU33P)"
        help
          Refer to Product webpage for more information about the card capacity.
          AlphaData 9H3 has ethernet and 2x 4GB HBM Gen2. Uses Xilinx FPGA VU33P.

    config FPGACARD_AD9H7
        bool "AlphaData 9H7 (VU37P)"
        help
          Refer to Product webpage for more information about the card capacity.
endchoice

###############################################################################
choice
    bool "Infrastructure Template"
    depends on USER_HDL_ACTION || USER_HLS_ACTION
    default USER_INFRA_T1
    help
        Select the Infrastructure Template
    config USER_INFRA_T1
        bool "T1 (bridge minimum)"
        help
          Refer to OC-Accel documentation for detailed information.
    
    config USER_INFRA_T2
        bool "T2 (job manager reg_config)"
        help
          Refer to OC-Accel documentation for detailed information.
  
    config USER_INFRA_T4
        bool "T4 (odma -- not valid)"
        help
          Refer to OC-Accel documentation for detailed information.
  
    config USER_INFRA_T8
        depends on OPENCAPI30
        bool "T8 (M1 -- not valid)"
        help
          Refer to OC-Accel documentation for detailed information.
  
endchoice

###############################################################################
#  Infra Template Parameters: Kernel Number @ T1/T2
config KERNEL_NUMBER
    depends on (USER_HLS_ACTION || USER_HDL_ACTION) && (USER_INFRA_T1 || USER_INFRA_T2)
    int "Input the number of kernels (1 to 16)"
    range 1 16
    default 1


# !!! This doesn't show in the menuwindow
# Override the number for existing example
config KERNEL_NUMBER
    int
    default 1 if HDL_PERF_TEST
    default 4 if HLS_VADD_MATMUL
    default 1 if HLS_VADD

###############################################################################
#  The top module name of user kernels for HLS actions
config KERNELS
    depends on (USER_HLS_ACTION || USER_HDL_ACTION) && (USER_INFRA_T1 || USER_INFRA_T2)
    string "The top module names of your hls kernel. Can use comma separated format to specify different kernel top for each kernel."
    default ""

# !!! This doesn't show in the menuwindow
# Override the name for existing example
config KERNELS
    string
    default "kernel_perf_test" if HDL_PERF_TEST
    default "vadd,matmul,vadd,matmul" if HLS_VADD_MATMUL
    default "vadd" if HLS_VADD

###############################################################################
#  Infra Template Parameters: Data bus Width of AXI Ports @ T1, T4
config WIDTH_AXIMM_PORTS
    depends on (USER_HDL_ACTION) && (USER_INFRA_T1 || USER_INFRA_T4)
    int "Input the bus bitwidth of AXI-MM Ports (32 to 1024, exponent of 2)"
    default 1024

# !!! This doesn't show in the menuwindow
# Override the number for existing example
config WIDTH_AXIMM_PORTS
    int
    default 1024 if HDL_PERF_TEST
    default 1024 if HLS_VADD_MATMUL
    default 1024 if HLS_VADD

###############################################################################
choice
    bool "Action Template"
    depends on USER_HDL_ACTION || USER_HLS_ACTION
    default USER_ACTION_A10
    help
        Select the Action Template
    config USER_ACTION_A10
        depends on USER_INFRA_T1
        bool "A10 (Connects T1, no peripherals)"
        help
          Refer to OC-Accel documentation for detailed information.
    
    config USER_ACTION_A11
        depends on USER_INFRA_T1
        depends on FPGACARD_AD9V3
        bool "A11 (Connects T1, one channel DDR4)"
        help
          Refer to OC-Accel documentation for detailed information.
    
    config USER_ACTION_A12
        depends on USER_INFRA_T1
        depends on FPGACARD_AD9H3 || FPGACARD_AD9H7
        bool "A12 (Connects T1, one channel HBM)"
        help
          Refer to OC-Accel documentation for detailed information.

    config USER_ACTION_A20
        depends on USER_INFRA_T2
        bool "A20 (Connects T2, no peripherals)"
        help
          Refer to OC-Accel documentation for detailed information.
        
    config USER_ACTION_A40
        depends on USER_INFRA_T4
        bool "A40 (Connects T4, no peripherals)"
        help
          Refer to OC-Accel documentation for detailed information.
    config USER_ACTION_A81
        depends on USER_INFRA_T8
        depends on FPGACARD_AD9V3
        bool "A81 (Connects T8, one channel DDR4)"
        help
          Refer to OC-Accel documentation for detailed information.
endchoice

###############################################################################
config OCSE_PATH
    string "OCSE_ROOT: Path to OpenCAPI Simulation Engine Root"
    default "../ocse"

###############################################################################
choice
    bool "Simulator"
    default SIM_XSIM
    help
      Supported simulators are Xilinx' xsim and Cadence's irun.
      If NVMe support is enabled it is only possible to use irun
      or to set the simulator to "nosim" to disable model build
      and simulation.

    config SIM_XSIM
        bool "xsim"
        help
          Default Xilinx simulator


    config SIM_XCELIUM
        bool "xcelium"
        help
          Cadence xcelium simulator (requires a specific license)


    config NO_SIM
        bool "nosim"

endchoice

config SIMULATOR
    string
    default "xsim"     if SIM_XSIM
    default "xcelium"  if SIM_XCELIUM
    default "nosim"    if NO_SIM

# Don't add them when not available
#    default "modelsim" if SIM_MODELSIM
#    default "questa"   if SIM_QUESTA
#    default "irun"     if SIM_IRUN


###############################################################################
comment "================= Advanced Options: ================="

###############################################################################
choice
    bool "PHY Speed"
    default SPEED_25G 
    help
      PHY Speed of Transceive IP
          There are two choices of phy speed the framework supports. Please select
          one of them.

    config SPEED_25G
        bool "25G: Transceive IP at 25.78125 Gbps"
        help
          Generate Transceive IP with 25.78125 Gbps. Uses Xilinx IP.
    
    config SPEED_20G
        bool "20G: Transceive IP at 20.0 Gbps"
        help
          Generate Transceive IP with 20.0 Gbps. Uses Xilinx IP.
endchoice

config PHY_SPEED 
    string
    default "25.78125" if SPEED_25G
    default "20.0" if SPEED_20G

###############################################################################
config AXI_ID_WIDTH
    depends on (USER_HDL_ACTION)
    int "ID width on Action AXI interface, range 1-5"
    default 1
    range 1 5
    help
      ID width on AXI interface, for example, AWID, ARID, etc

config AXI_ID_WIDTH
    int
    default 5 if HDL_PERF_TEST

###############################################################################
# Note: When ACTION_CLOCK_200MHZ is selected, no need to insert clock converter
config ACTION_CLOCK_FREQUENCY 
    int
    default 50   if ACTION_CLOCK_50MHZ
    default 100  if ACTION_CLOCK_100MHZ
    default 150  if ACTION_CLOCK_150MHZ
    default 200  if ACTION_CLOCK_200MHZ
    default 250  if ACTION_CLOCK_250MHZ
    default 300  if ACTION_CLOCK_300MHZ
    default 350  if ACTION_CLOCK_350MHZ
    default 400  if ACTION_CLOCK_400MHZ
 

choice
    bool "Action Clock"
    default ACTION_CLOCK_200MHZ
    help
      Clock frequency for action
      There are multiple frequencys the framework supports. Please select
      one of them.

    config ACTION_CLOCK_50MHZ
        bool "Action works on 50.355MHz"
        help
          Action use 50MHz clock. A different clock with oc-accel bridge. 

    config ACTION_CLOCK_100MHZ
        bool "Action works on 100.710MHz"
        help
          Action use 100MHz clock. A different clock with oc-accel bridge. 

    config ACTION_CLOCK_150MHZ
        bool "Action works on 151.065MHz"
        help
          Action use 150MHz clock. A different clock with oc-accel bridge. 

    config ACTION_CLOCK_200MHZ
        bool "Action works on 201.420MHz"
        help
          Action use 200MHz clock. Same clock with oc-accel bridge. 

    config ACTION_CLOCK_250MHZ
        bool "Action works on 251.775MHz"
        help
          Action use 250MHz clock. A different clock with oc-accel bridge. 

    config ACTION_CLOCK_300MHZ
        bool "Action works on 302.130MHz"
        help
          Action use 300MHz clock. A different clock with oc-accel bridge. 

    config ACTION_CLOCK_350MHZ
        bool "Action works on 352.485MHz"
        help
          Action use 350MHz clock. A different clock with oc-accel bridge. 

    config ACTION_CLOCK_400MHZ
        bool "Action works on 402.840MHz"
        help
          Action use 400MHz clock. A different clock with oc-accel bridge. 
endchoice


################################################################################
#  NOTE: This config has been removed because people can adjust it more directly
#  in run_hls_script.tcl
#config HLS_CLOCK_PERIOD_CONSTRAINT
#    prompt "Clock period constraint for HLS C++ code"
#    string
#    default "4ns"
#    depends on ENABLE_HLS_SUPPORT
#    help
#      The clock period constrant in "ns" used when hls is compiled to rtl, 

###############################################################################
config ENABLE_ILA
    bool "Enable ILA Debug"
    help
      Used for debugging the design by inserting probes into the FPGA
      Enable the usage of Vivado's integrated logic analyzer. There are
      two ways: 
      (1) Use xdc file. Please make sure that $ILA_SETUP_FILE in snap_env.sh
      points to the .xdc file (See example in hardware/setup/ila_example.xdc).
      (2) Create an ILA ip core and instantiate it in your design. Put the "create_ip"
      commands in your tcl file, and include the ila core in your Verilog design
      (enclosed with `define ILA_DEBUG .... `endif)
      For both ways, a 'probe.ltx' file will be generated in hardware/build/Images. 
      This file is needed for ILA debugging with JTAG and Vivado Lab HW manager tool.

config ILA_DEBUG
    string
    default "TRUE"  if ENABLE_ILA
    default "FALSE" if ! ENABLE_ILA
###############################################################################

config ENABLE_UNIT_VERIF
    bool "Enable UVM based unit verification environment."
    depends on SIM_XCELIUM
    depends on HDL_UNIT_SIM
    default n
    help
       OCSE and software excluded, only UVM based testbench and OC-ACCEL AXI-TLX bridge.

config UNIT_SIM_USED
    string
    default "TRUE"  if ENABLE_UNIT_VERIF
    default "FALSE" if ! ENABLE_UNIT_VERIF

config TIMING_LABLIMIT
    string "TIMING_LABLIMIT"
    default "-200"

###############################################################################
#config ENABLE_FLASH
#    bool "Enable FLASH"
#    default n
#    help
#       Enable FLASH in oc-bip.
#
#config FLASH_USED
#    string
#    default "TRUE"  if ENABLE_FLASH
#    default "FALSE" if ! ENABLE_FLASH
#
